.bio{
    color:white;
    text-align:left;
    padding: 0 2rem;   
    
    border-left: solid 3px  	#ffb700;
    overflow-x: hidden;
    
}
.name {
    font-size: 5rem;
    line-height: 1;
    margin-top:0;
    margin-bottom:.4rem;
}
.title{
    margin:0;
    line-height: 1;

}

.sub-desc{
    color:rgb(255, 249, 84);
    max-width: 10rem;
    margin-right: 3rem;
    

}
.desc-container{
    /* padding: .5rem; */
    border-radius: 5px 5px 0 0;
    display:flex;
    flex-direction: row;
    justify-content: left;
}
.desc{
    color:rgb(255, 255, 255);
    text-align: left; 
    max-width:80%;
   
}


/* animation classes */

@keyframes slideIn {
    from {
      right: 110%;
    }
    to {
      right: 0;
    }
  }

.slide-in{
    right:110%
}
.slide-in.one {
position: relative; /* Ensure the element is positioned relatively to its parent */
animation: slideIn .8s ease forwards;
}
.slide-in.two {
    position: relative; /* Ensure the element is positioned relatively to its parent */
    animation: slideIn .5s ease forwards;
    animation-delay: .2s;
}
.slide-in.three {
    position: relative; /* Ensure the element is positioned relatively to its parent */
    animation: slideIn 1s ease forwards;
    animation-delay: .3s;
}