

.body-content{
    max-width:80rem;
    display: flex;
    flex-direction: row;
    gap:1rem;
    background:rgba(0, 49, 53,.8);
    border-radius:3px;
    margin-top: 10rem;

}

@media  screen and (max-width:1199px) {
    .body-content{
        flex-direction: column;
    }
    
}
