

.body-content{
    max-width:80rem;
    display: flex;
 
    padding-right:2rem;
    padding-left:2rem;
    margin-top:5rem;
    overflow-y: visible;
}


@media  screen and (max-width:1199px) {
    .body-content{
        flex-direction: column;
        margin-top:0;
    }
    
}
