.card{
    display:flex;
    flex-direction:row;
}
.card-column-left{
    margin-top:1.2rem;
    width:25%;
}
.card-column-right{
    width:75%;
}

.card-title{
    margin-bottom:0;

}
.card-company{
    margin-top:.2rem;
    font-size: .8rem;
    font-weight: 600;
    font-style: oblique;
}

.card-description{


}

.card-skills{
    margin-top:1.3rem;
    
    margin-right:.31em
} 