@import url('color.css');
.card{
    display:flex;
    flex-direction:column;
    padding:.5rem;
    margin:.5rem;
    border-radius:5px;
}
.card-row-top{
    display:flex;
    flex-direction:row;
    justify-content: left;
    align-items: end;
}
.card-row-bottom{
    display:flex;
   flex-direction:row;
}
.card-column-left{
    flex:1
}
.card-column-right{
    flex:3
}



.card-title{
    margin-bottom:0;
    font-size:18px;
    margin-top:.3rem;
    
}
.card-description{
    color:#9fbbe9;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    

}

.card-skills{
    margin-right:.3rem;
    margin-top:1.8rem;
} 

.card:hover{
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.2); 
    background: var(--color-1a)
}



/* Work card only */
.card-company{
    margin-top:.2rem;
    font-size: .8rem;
    font-weight: 600;
    font-style: oblique;
}
.duration{
    white-space: pre-wrap;
    font-size:.8rem;
    font-weight: 400;
    color:var(--color-6);
    margin-bottom: .8rem;
}

/* Project Card only */
.card-image{
    margin-top:.3rem;
    width:130px;
    border-radius:5px;
}
.project-card{
    flex-direction:row;
    align-items:top;
}
.project-card:hover .card-title{
    color:var(--color-3);
    text-decoration: underline;
}



@media  screen and (max-width:1199px) {
    .card-row-bottom{
       flex-direction:column-reverse;
    }
    .card-skills{
        margin-top:.5rem;
    } 
    
    
}