:root {
  --color-1: #f4eee2;
  --color-2: #410f70;
  --color-3: #220b4e;
  --color-4: rgb(255, 174, 0);
  --color-5: #762cff;
  --color-6: #b691ff;
  --color-1a: #f4eee2c2;;
  --color-2a: rgba(3, 10, 15, 0.2);
}
