@import url('Color.css');
.loading-screen{
    position:fixed;
    margin:0;
    padding:0;
    /* top:0; */
    right:0;
    bottom:0;
    width:100vw;
    height:100vh;
    background:var(--color-4);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 9999;
    
}
.move-up{
    animation: moveUp 1.5s ease-in forwards;
}
@keyframes moveUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    99%{
        transform: translateY(-100vh);
        opacity:1
    }
    100% {
      visibility: hidden;
      opacity: 0;
    }
  }