.scroll-section{
    text-align:left;
    color:white;
}
@media  screen and (min-width:1200px) {
    .scroll-section{
        max-height:40rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.fade-in {
    animation:fadeIn 2s ease-in forwards;
}