@import url('Color.css');

.scroll-section{
    text-align:left;
    color:white;
}

  /* Scrollbar styling (WebKit-based browsers) */
  .scroll-section::-webkit-scrollbar {
    width: 12px; /* Scrollbar width */
  }

  .scroll-section::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 6px;
  }

  .scroll-section::-webkit-scrollbar-thumb {
    background:var(--color-2); /* Thumb color */
    border-radius: 50%;
  }

  .scroll-section::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb hover color */
  }

  /* For Firefox (use scrollbar-color and scrollbar-width) */
  .scroll-section {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: var(--color-2) #f1f1f1; /* Thumb color and track color */
  }
@media  screen and (min-width:1200px) {
    .scroll-section{
        max-height:40rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.fade-in {
    animation:fadeIn 2s ease-in forwards;
}