@import url('Color.css');



/* Scrollbar styling (WebKit-based browsers) */
.scroll-section::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
  background:var(--color-2);
}

.scroll-section::-webkit-scrollbar-track {
  
  border-radius: 6px;
}

.scroll-section::-webkit-scrollbar-thumb {
  background: rgb(169, 146, 116); /* Thumb color */
  border-radius: 50%;
}

.scroll-section::-webkit-scrollbar-thumb:hover {
  background: #ffff; /* Thumb hover color */
}

/* Non WebKit-based browsers */
.scroll-section{
  text-align:left;
  color:white;
  scrollbar-color: rgb(169, 146, 116) var(--color-2);
  scrollbar-width: thin;
}
@media  screen and (min-width:1200px) {
    .scroll-section{
        max-height:40rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    
}
@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.fade-in {
    animation:fadeIn 2s ease-in forwards;
}
