.section-header{
    margin-left:1rem;
    margin-bottom:0rem;
    color:var(--color-2)
}

.section-header::after {
    content: '';
    display: block;
    width: 200px;
    height: 2px;
    background-color:var(--color-2);
    margin-bottom: 10px;
  }