@import url('Color.css');
.skill-bubble {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height:16px;
    padding: 5px 8px; 
    background-color:var(--color-6); /* Background color */
    color:var(--color-1);
    border-radius: 20px; /* Pill shape */    
    margin: 3px;
    font-size: 12px; /* Text size */
    font-weight: 500; /* Optional: makes text bold */
    text-align: center; /* Center the text horizontally */
    white-space: nowrap; /* Prevents text wrapping */
  }
  


  /* @media  screen and (max-width:1199px) {
    .skill-bubble{
      
    }
    
} */
