@import url('./Utils/Color.css');
.skill-bubble {
    display: inline-block; /* Makes it behave like an inline element */
    vertical-align: middle;
    padding: 5px 8px; /* Optional: Adjust padding for some spacing around the text */
    background-color:var(--color-3); /* Background color */
    color:var(--color-1);
    border-radius: 20px; /* Pill shape */    margin: 3px;
    font-size: 12px; /* Text size */
    font-weight: 500; /* Optional: makes text bold */
    text-align: center; /* Center the text horizontally */
    white-space: nowrap; /* Prevents text wrapping */
    cursor: pointer;
  }
  

  .skill-bubble:hover{
   transform: scale(1.1);
   box-shadow: 0 0 10px 0 var(--color-1);

  }


  /* @media  screen and (max-width:1199px) {
    .skill-bubble{
      
    }
    
} */
