@import url('color.css');
.skill-bubble {
    display: inline-block; /* Makes it behave like an inline element */
    padding: 8px 10px; /* Optional: Adjust padding for some spacing around the text */
    background-color:var(--color-2); /* Background color */
    color:var(--color-5);;
    border-radius: 20px; /* Pill shape */
    margin: 0 .2rem .2rem 0;
    font-size: 14px; /* Text size */
    font-weight: 400; /* Optional: makes text bold */
    text-align: center; /* Center the text horizontally */
  }
  