@import url('color.css');
.card{
    display:flex;
    flex-direction:row;
    padding:.5rem;
    margin:.5rem;
    border-radius:5px;
}
.card-column-left{
    margin-top:1.2rem;
    width:25%;
}
.card-column-right{
    width:75%;
}

.card-title{
    margin-bottom:0;

}
.card-company{
    margin-top:.2rem;
    font-size: .8rem;
    font-weight: 600;
    font-style: oblique;
}

.card-description{


}

.card-skills{
    margin-top:1.3rem;
    margin-right:.31em
} 

.card:hover{
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.2); 
    border-top: 1px solid var(--color-6);
    background: var(--color-1a)
}