




.fade-in {
    animation:fadeIn 2s ease-in .7s forwards;
}

/* Primariily for the loading screen */
.move-up{
    animation: moveUp 1.5s ease-in forwards;
}
@keyframes moveUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      visibility: hidden;
      transform: translateY(-100vh);
      opacity: 0;
    }
  }

  /* for the bio but ccan be used anywhere! */
  /* animation classes */

@keyframes slideIn {
    from {
      right: 110%;
    }
    to {
      right: 0;
    }
  }

.slide-in{
    right:110%
}
.slide-in.one {
position: relative; /* Ensure the element is positioned relatively to its parent */
animation: slideIn 1s ease forwards;
animation-delay:var(--delay);
}
.slide-in.two {
    position: relative; /* Ensure the element is positioned relatively to its parent */
    animation: slideIn 1s ease forwards;
    animation-delay: calc(var(--delay) + .2s)
}
.slide-in.three {
    position: relative; /* Ensure the element is positioned relatively to its parent */
    animation: slideIn 1s ease forwards;
    animation-delay: calc(var(--delay) + .3s)
}