body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-color: rgb(169, 146, 116) var(--color-2);
  scrollbar-width: thin;
  overflow-x:hidden;
}

/* Scrollbar styling (WebKit-based browsers) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
  background: var(--color-2);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  border-radius: 6px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgb(238, 186, 117);
  border-radius: 5px;
  margin: 1px;
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: #ffff;
}


section{
  scroll-snap-align: center;
  scroll-snap-stop: always;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-scroll{
  overflow: hidden;
}